<ion-header [translucent]="true">
  <ion-toolbar>
    <!-- Contenedor para el título y el avatar -->
    <ion-title>
      <span *ngIf="userActual?.name">Profesor: {{ userActual.name }}</span>
    </ion-title>
    <ion-avatar slot="start" *ngIf="userActual?.pictogramId">
      <ion-img 
        [src]="'https://api.arasaac.org/api/pictograms/' + userActual.pictogramId" 
        alt="Avatar del profesor"
        class="pictogram-img">
      </ion-img>
    </ion-avatar>
    <ion-buttons slot="primary">
    <!-- Botón de logout -->
    <ion-button (click)="logout()" color="danger">
      <ion-icon slot="start" name="log-out-outline"></ion-icon>
      <ion-label>Cerrar sesión</ion-label>
    </ion-button>
  </ion-buttons>
  </ion-toolbar>
</ion-header>



<ion-content [fullscreen]="true">
        <ion-grid>
          <ion-row>
            <ion-toolbar>
              <ion-title>Alumnos:</ion-title>
              <ion-buttons slot="end">
                <!-- Botón para petición de material -->
                <ion-button class="peticion-material" expand="block" color="primary" [routerLink]="'/material-demand'">
                  <ion-icon slot="start" name="create-outline"></ion-icon> 
                  Petición de material
                </ion-button>
                
              </ion-buttons>
            </ion-toolbar>

           <ion-col size="6" *ngFor="let stud of students; let i = index">
              <ion-item>
                <!-- Imagen del pictograma -->
                <ion-avatar slot="end">
                  <ion-img 
                    [src]="'https://api.arasaac.org/api/pictograms/' + stud.pictogramId" 
                    alt="Pictogram image" 
                    class="pictogram-img">
                  </ion-img>
                </ion-avatar>
        
                <!-- Información del estudiante -->
                <ion-label>
                  <h3>{{ stud.name }} {{ stud.surname }}</h3>
                  <p *ngIf="stud.phone">Teléfono móvil: {{ stud.phone }}</p>
                  <p>DNI: {{ stud.dni }}</p>
                  <p *ngIf="stud.disabilities">Discapacidades: 
                    <span *ngIf="stud.disabilities.visual">Visual </span>
                    <span *ngIf="stud.disabilities.auditory">Auditiva </span>
                    <span *ngIf="stud.disabilities.motor">Motora </span>
                    <span *ngIf="stud.disabilities.cognitive">Cognitiva </span>
                  </p>
                  <p *ngIf="stud.loginType; else noSpecialLogin">Tiene login especial</p>
                  <ng-template #noSpecialLogin>
                    <p>No tiene login especial</p>
                  </ng-template>
                </ion-label>
              </ion-item>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
