<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="volverListado()">
        <ion-icon slot="icon-only" name="arrow-back-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>Tarea Aplicación/Juego</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Tarea Aplicación/Juego</ion-title>
    </ion-toolbar>
  </ion-header>

  <div class="tarea-aplicacion">
    <img src="assets/icon/favicon.png" alt="Pictograma de la tarea" class="pictograma-tarea" />
    <div *ngIf="descripcion">
      <h2 class="nombre-tarea">{{ descripcion?.title }}</h2>
      <p class="descripcion-tarea">
        Enlace a la tarea: 
        <a href="{{ descripcion.link }}" target="_blank" (click)="marcarEnlaceVisitado()">
          {{ descripcion.link }}
        </a>
      </p>
      <button 
        class="boton-completar" 
        (click)="completarTarea()" 
        [disabled]="!enlaceVisitado">
        <p>He completado la tarea</p>
      </button>
    </div>
  </div>

  <!-- Contenedor de la animación con overlay -->
  <div class="overlay" [class.oscuro]="tareaCompletada">
    <div class="animacion-confeti">
      <!-- Texto animado -->
      <h2 class="texto-enhorabuena" [class.animar-texto]="tareaCompletada">¡Enhorabuena!</h2>
      <!-- GIF animado -->
      <img *ngIf="mostrarConfeti" src="assets/imagenes/confeti.gif" alt="Confeti" class="gif-confeti">
    </div>
  </div>

  <!-- Contenedor de la animación con overlay -->
  <div class="overlay" [class.oscuro]="tareaCompletada">
    <!-- Texto animado -->
    <h2 
      class="texto-enhorabuena" 
      [class.animar-texto]="tareaCompletada">¡Enhorabuena!
    </h2>
    <!-- GIF animado -->
    <img 
      src="assets/imagenes/confeti.gif" 
      alt="Confeti" 
      class="gif-confeti" 
      [class.animar-confeti]="mostrarConfeti">
  </div>
  
</ion-content>
