<ion-header>
    <ion-toolbar>
      <ion-title>Formulario de Peticiones</ion-title>
    </ion-toolbar>
  </ion-header>
  
  <ion-content>
    <form [formGroup]="requestForm" (ngSubmit)="finalizeRequests()">
      <!-- Campo Nombre del Profesor -->
      <ion-item>
        <ion-label position="floating">Nombre del Profesor</ion-label>
        <ion-input formControlName="profesor"></ion-input>
      </ion-item>
  
      <!-- Campo Clase -->
      <ion-item>
        <ion-label position="floating">Clase</ion-label>
        <ion-input formControlName="clase"></ion-input>
      </ion-item>
  
      <!-- Campos para los materiales -->
      <div formArrayName="materiales">
        <div *ngFor="let material of materiales.controls; let i = index" [formGroupName]="i" class="material-row">
          <ion-item class="material-item">
            <ion-label position="floating">Material</ion-label>
            <ion-input formControlName="nombre" placeholder="Nombre del material"></ion-input>
          </ion-item>
        
          <ion-item class="cantidad-item">
            <ion-label position="floating">Cantidad</ion-label>
            <ion-input type="number" formControlName="cantidad" placeholder="Cantidad del material"></ion-input>
          </ion-item>
        
          <!-- Nuevo campo: Tamaño -->
          <ion-item class="material-item">
            <ion-label position="floating">Tamaño</ion-label>
            <ion-input formControlName="tamano" placeholder="Tamaño del material"></ion-input>
          </ion-item>
        
          <!-- Nuevo campo: Color -->
          <ion-item class="material-item">
            <ion-label position="floating">Color</ion-label>
            <ion-input formControlName="color" placeholder="Color del material"></ion-input>
          </ion-item>
        </div>
        
      </div>
  
      <!-- Botón para añadir un nuevo material -->
      <ion-button expand="block" (click)="addMaterial()">Añadir Material</ion-button>
  
      <!-- Botón para enviar -->
      <ion-button expand="full" color="success" type="submit" [disabled]="requestForm.invalid">
        Enviar Solicitudes
      </ion-button>
    </form>
  </ion-content>
  