<ion-content>
    <div class="login-container">
      <h1>Hola, {{ name }}</h1>
      
      <ion-grid>
        <div class="grid-background">
          <div></div>
          <div></div>
          <div></div>
          <div></div>
          <div></div>
          <div></div>
        </div> <!-- Cuadrícula de fondo -->
        <ion-row>
          <ion-col size="4" *ngFor="let pictogram of pictograms; let i = index">
            <ion-img [src]="pictogram.src" alt="Pictogram image" (click)="selectPictogram(i)" class="pictogram-img"></ion-img>
          </ion-col>
        </ion-row>
      </ion-grid>
  
      <div class="circles-container">
        <div *ngFor="let circle of circles; let i = index" [ngClass]="{'circle': true, 'correct': circle.correct, 'incorrect': circle.incorrect}"></div>
      </div>
  
      <div *ngIf="errorMessage" class="error-message">{{ errorMessage }}</div>
    </div>
  </ion-content>