ion-content {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    padding: 1rem;
    box-sizing: border-box; /* Asegura que el padding se incluya en el tamaño total */
  }
  .content-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
  }
  .forgot-password-container {
    background: #fff;
    padding: 2rem;
    border-radius: 12px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    max-width: 400px;
    width: 100%;
    text-align: center;
    box-sizing: border-box; /* Asegura que el padding se incluya en el tamaño total */
  }
  
  .forgot-password-container h1 {
    font-size: 2rem;
    font-weight: bold;
    color: #333;
    margin-bottom: 1rem;
  }
  
  ion-item {
    --border-width: 0;
    --border-radius: 6px;
    --background: rgba(0, 0, 0, 0.05);
    margin-bottom: 1rem;
  }
  
  ion-input {
    font-size: 1rem;
    color: black;
  }
  
  .forgot-password-container ion-button {
    --border-radius: 6px;
    padding: 0.75rem;
    margin-top: 1rem;
    font-size: 1.1rem;
    font-weight: bold;
    text-transform: uppercase;
  }
  
  .reset-password-form {
    margin-top: 2rem;
  }
  
  @media (max-width: 768px) {
    .forgot-password-container {
      padding: 1.5rem;
      width: 90%;
    }
  }
  