<ion-header id="main-header" [translucent]="true">
  <ion-toolbar>
    <ion-button color="medium" slot="start" (click)="salir()" shape="round">
      Salir <ion-icon name="exit-outline" style="margin-left: 8px;"></ion-icon> 
    </ion-button>
    <ion-title class="ion-text-center"><strong>Clases</strong></ion-title>
    <ion-button (click)="classFormFunciton()" slot="end" shape="round">
      <ion-icon name="add-circle-outline" style="margin-right: 8px;"></ion-icon> Añadir clase
    </ion-button>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-card *ngIf="showClassForm">
    <ion-toolbar>
      <ion-title>{{ editingClass ? 'Editar clase' : 'Crear clase' }}</ion-title>
      <ion-buttons slot="end">
        <ion-button (click)="editingClass ? saveClass() : addClass()" shape="round" color="primary">
          {{ editingClass ? 'Guardar cambios' : 'Añadir clase' }}
        </ion-button>
        <ion-button (click)="classFormFunciton()" shape="round" color="danger">Cancelar</ion-button>
      </ion-buttons>
    </ion-toolbar>

    <ion-list lines="full">
      <!-- Nombre de la clase -->
      <ion-item>
        <ion-input 
          label="Nombre" 
          labelPlacement="floating" 
          type="text" 
          [(ngModel)]="actualClass.name">
        </ion-input>
      </ion-item>
      <!-- Pictograma -->
      <app-pictogram-search (pictogramSelect)="actualClass.pictogramId = $event"></app-pictogram-search>
      <ion-item *ngIf="actualClass.pictogramId">
        <ion-label slot="start">
          Pictograma Seleccionado:
        </ion-label>
        <ion-thumbnail slot="start">
          <ion-img [src]="arasaacService.getPictogramImageUrl(actualClass.pictogramId)" alt="Pictogram image"></ion-img>
        </ion-thumbnail>
        <ion-button slot="end" (click)="actualClass.pictogramId = null">
          <ion-icon slot="icon-only" name="close" color="danger"></ion-icon>
        </ion-button>
      </ion-item>
    </ion-list>
  </ion-card>
  
  <ion-grid>
    <ion-row>
      <ion-col size="6" *ngFor="let class of classes; let i = index">
        <ion-item>
          <ion-thumbnail slot="start">
            <ion-img [src]="arasaacService.getPictogramImageUrl(class.pictogramId)" alt="Pictogram image"></ion-img>
          </ion-thumbnail>
          <ion-label>
            <h2>{{ class.name }}</h2>
          </ion-label>
          <ion-buttons slot="end">
            <ion-button (click)="editClass(class)">
              <ion-icon slot="icon-only" name="create" color="primary"></ion-icon>
            </ion-button>
            <ion-button (click)="deleteClass(class)">
              <ion-icon slot="icon-only" name="trash" color="danger"></ion-icon>
            </ion-button>
          </ion-buttons>
        </ion-item>
      </ion-col>
    </ion-row>
  </ion-grid>

</ion-content>