ion-card {
    height: 30%;
}

ion-card-content {
    position: absolute;
    left: 50%;
    top: 50%;
    width: 50%;
    height: 75%;
    transform: translateY(-50%);
}

ion-button {
    height: 100%;
    width: 100%;
    // position: relative;
    // top: 5%;
}

ion-card-title {
    font-size: xx-large;
}