<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Tareas</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Tareas</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-card>

    <ion-card-header>
      <ion-card-title>Tarea 1</ion-card-title>
    </ion-card-header>

    <ion-card-content>
      <ion-button expand="block">Terminada</ion-button>
    </ion-card-content>

  </ion-card>

</ion-content>