<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button>Salir</ion-button>
    </ion-buttons>
    <ion-title class="ion-text-center">Menús de hoy {{ menu.date.toDate() | date: 'dd/MM/yyyy' }}</ion-title>
    <ion-buttons slot="end">
      <ion-button>Finalizar</ion-button>
    </ion-buttons>
</ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <ion-list>
    <ion-card *ngFor="let cls of classes" (click)="selectClass(cls)">
      <ion-card-header>
      </ion-card-header>
      <ion-card-content>
        <ion-card-title class="ion-text-center">{{ cls.name }}</ion-card-title>
        <img [src]="cls.pictogramId" alt="{{ cls.name }}" style="float: left; margin-right: 10px;"/>
      </ion-card-content>
    </ion-card>
  </ion-list>

  <ion-modal [isOpen]="selectedClass !== null" (ionModalDidDismiss)="selectedClass = null">
  <ng-template>
    <ion-header>
      <ion-toolbar>
        <ion-title class="ion-text-center">{{ selectedClass?.name }}</ion-title>
        <img [src]="selectedClass?.pictogramId" alt="{{ selectedClass?.name }}" style="float: left; margin-right: 10px;" />
      </ion-toolbar>
    </ion-header>

    <ion-content>
      <ion-list>
        <ion-card *ngFor="let menuType of menuTypes">
          <ion-card-header>
            <ion-card-title class="ion-text-center">{{ menuType.name }}</ion-card-title>
          </ion-card-header>
          <ion-card-content>
            <img [src]="menuType.pictogramId" alt="{{ menuType.name }}" style="float: left; margin-right: 10px;" />
            <div style="display: flex; align-items: center; justify-content: flex-end;">
              <ion-button (click)="decrement(menuType.name)">
              <ion-icon name="remove-circle-outline"></ion-icon>
              </ion-button>
              <span>{{ menu.menus[selectedClass?.name][menuType.name] }}</span>
              <ion-button (click)="increment(menuType.name)">
              <ion-icon name="add-circle-outline"></ion-icon>
              </ion-button>
            </div>
          </ion-card-content>
        </ion-card>
      </ion-list>
      <div style="display: flex; justify-content: center; margin-bottom: 20px;">
        <ion-button (click)="selectClass(null)">Terminado</ion-button>
      </div>
    </ion-content>
  </ng-template>
  </ion-modal>

</ion-content>