<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>paginaInicial</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="full-height">
  <ion-spinner *ngIf="cargando" name="bubbles" style="display: block; margin: auto;"></ion-spinner>
  <ion-grid class="full-height">
    <ion-row *ngFor="let row of paginatedAlumnos[currentPage]">
      <ion-col size="4" *ngFor="let alumno of row">
        <ion-item lines="none" (click)="seleccionarAlumno(alumno)">
          <div class="alumno-item">
            <ion-img [src]="'https://api.arasaac.org/api/pictograms/' + alumno.id_pictogram" alt="Pictogram image" class="pictogram-img"></ion-img>
            <div class="alumno-nombre">{{ alumno.nombre }}</div>
          </div>
        </ion-item>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>

<ion-footer>
  <ion-toolbar>
    <ion-buttons slot="primary" class="pagination-buttons">
      <ion-button (click)="prevPage()" [disabled]="currentPage === 0" expand="block" size="large">Anterior</ion-button>
      <ion-button (click)="nextPage()" [disabled]="!hasMorePages()" expand="block" size="large">Siguiente</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-footer>