ion-content {
  --padding-bottom:10px;
  --padding-top: 2px;
  display: flex;
  flex-direction: column;
  height: calc(100vh - var(--ion-toolbar-height) * 2); /* Ajusta la altura para tener en cuenta el header y el footer */
}

.full-height {
  flex: 1;
  
}

ion-grid {
  height: 100%;
  padding: 10px;
}

ion-row {
  height: 33.33%;
  margin-bottom: 10px;
}

ion-col {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5px;
}

.icono {
  margin-right: 5px;
}

.alumno-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  border: 1px solid #ccc;
  padding-left: 50px;
  padding-right: 50px;
  box-sizing: border-box;
  width: 80%;
  height: 100%; 
}

.login-button {
  --background: #3880ff; 
  --color: #fff; 
}

.pictogram-img {
  width: 60%;
  height: 60%;
  margin-bottom: 8px;
}

.alumno-nombre {
  font-size: 1.5vw;
}

.pagination-buttons {
  display: flex;
  justify-content: center;
  width: 100%;
}

ion-item {
  --inner-border-width: 0px;
}

ion-button {
  margin: 0 10px;
  font-size: 1.2em;
}