<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="volverListado()">
        <ion-avatar slot="start" class="but">
          <ion-img [src]="'https://api.arasaac.org/api/pictograms/6606'" alt="Pictogram"></ion-img>
        </ion-avatar> 
        Salir
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="content-wrapper">
    <div class="login-container">
      <h1>Login Profesor</h1>
      <ion-item>
        <ion-label position="floating">Correo</ion-label>
        <ion-input type="name" [(ngModel)]="name"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating">Contraseña</ion-label>
        <ion-input type="password" [(ngModel)]="password"></ion-input>
      </ion-item>
      <ion-button expand="block" (click)="login()">Iniciar Sesión</ion-button>
      <ion-button expand="block" fill="outline" (click)="recoverPassword()">He olvidado la contraseña</ion-button>
    </div>
  </div>
</ion-content>
