<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title class="ion-text-center"><strong>DiversiEduca</strong></ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-grid>
    <ion-row class="ion-justify-content-center">
      <ion-col >
      <ion-img [src]="src" alt="logo" class="img-logo"></ion-img>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-title class="ion-text-center" size="large">
            Bienvenido a tu <br>
            <strong>DiversiAgenda</strong>
        </ion-title>
      </ion-col>
    </ion-row>
    <ion-row class="ion-justify-content-center">
      <ion-col size="3" class="ion-text-center">
        <ion-button class="button-entrar"  expand="block" >¡ENTRAR!</ion-button>
      </ion-col>
    </ion-row>
    
  </ion-grid>
</ion-content>
