<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Cambiar Contraseña</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-card>
    <ion-item>
      <ion-label>Contraseña Actual: </ion-label>
      <ion-input type="password" [(ngModel)]="currentPassword"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label>Nueva Contraseña: </ion-label>
      <ion-input type="password" [(ngModel)]="newPassword"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label>Confirmar Nueva Contraseña: </ion-label>
      <ion-input type="password" [(ngModel)]="confirmPassword"></ion-input>
    </ion-item>
  </ion-card>
  <div style="margin: 20px;">
    <!-- <ion-button (click)="changePassword()" expand="block" shape="round">Actualizar Contraseña</ion-button> -->
  </div>
</ion-content>
