<!-- Encabezado de la página-->
<ion-header [translucent]="true">
  <ion-toolbar>
    <!-- Contenedor para el título y el avatar -->
    <ion-title>
      <span *ngIf="userActual?.name">Administrador: {{ userActual.name }}</span>
    </ion-title>
    <ion-avatar slot="start" *ngIf="userActual?.pictogramId">
      <ion-img 
        [src]="'https://api.arasaac.org/api/pictograms/' + userActual.pictogramId" 
        alt="Avatar del profesor"
        class="pictogram-img">
      </ion-img>
    </ion-avatar>
    <ion-buttons slot="primary">
      <!-- Botón de logout -->
      <ion-button (click)="logout()" color="danger">
        <ion-icon slot="start" name="log-out-outline"></ion-icon>
        <ion-label>Cerrar sesión</ion-label>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<!-- Contenido de la página -->
<ion-content [fullscreen]="true">
  <div class="contenedor-central">
    <h2>Bienvenido, {{ adminName }}</h2>
    <ion-button expand="block" size="large" routerLink="/admin-profesores" class="boton-central">
      Administrar Profesores
    </ion-button>
    <ion-button expand="block" size="large" routerLink="/admin-alumnos" class="boton-central">
      Administrar Alumnos
    </ion-button>
    <ion-button expand="block" size="large" routerLink="/admin-tareas" class="boton-central">
      Administrar Tareas
    </ion-button>
    <ion-button expand="block" size="large" routerLink="/material-update" class="boton-central">
      Añadir Material
    </ion-button>
    <ion-button expand="block" size="large" class="boton-central">
      Mi Perfil
    </ion-button>
  </div>
</ion-content>