<!-- Encabezado de la página-->
<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Administrador</ion-title>
  </ion-toolbar>
</ion-header>

<!-- Contenido de la página -->
<ion-content [fullscreen]="true">
  <div class="contenedor-central">
    <h2>Bienvenido, {{ adminName }}</h2>
    <ion-button expand="block" size="large" routerLink="/admin-profesores" class="boton-central">
      Administrar Profesores
    </ion-button>
    <ion-button expand="block" size="large" routerLink="/admin-alumnos" class="boton-central">
      Administrar Alumnos
    </ion-button>
    <ion-button expand="block" size="large" routerLink="/admin-tareas" class="boton-central">
      Administrar Tareas
    </ion-button>
    <ion-button expand="block" size="large" routerLink="/material-update" class="boton-central">
      Añadir Material
    </ion-button>
    <ion-button expand="block" size="large" class="boton-central">
      Mi Perfil
    </ion-button>
  </div>
</ion-content>