.custom-button {
    background-color: #387ef5; /* Azul */
    color: white;
    border-radius: 20px; /* Bordes redondeados */
    transition: background-color 0.3s ease;
}
  
.custom-button:hover {
    background-color: #2b6cb0; /* Un azul más oscuro */
}
  