.tarea-aplicacion {
  padding: 16px;
  margin: auto;

}

.tarea-aplicacion-texto {
  margin: auto;
}

.pictograma-tarea {
  width: 100px;
  height: 100px;
}

.task-header {
  margin: auto;
  align-items: center;
  width: fit-content;
}

.nombre-tarea {
  font-size: 3vw;
  white-space: nowrap;
}

.but{
  width: 60px; /* Ancho del icono */
  height: 60px; /* Alto del icono */
}

.descripcion-tarea {
  font-size: 2vw;
  font-weight: bold;
  //margin-top: 8px;
  text-align: center;
}

.step {
  margin: auto;
  //align-items: center;
  width: 25%;
  //display: flex;
}

.step-image {
  width: 100%;
  object-fit: contain; /* Asegura que la imagen se ajuste al área del contenedor sin ser recortada */
}

.boton-completar-container {
  display: flex;
  margin-top: 16px;
}

.boton-completar {
  //background-color: #2b6cb0;
  width:100%;
  border: none;
  border-radius: 12px;
  padding: 15px 30px; /* Botón más grande */
  font-size: 18px; /* Texto más grande */
  font-weight: bold;
  cursor: pointer;
  //box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  transition: background-color 0.3s, transform 0.2s;
}

.button-icon-complete {
  height: 30px;
  padding-left: 10px;
}


.imagen-tarea-card {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 200px; /* Ajusta la altura según sea necesario */
}

.imagen-tarea {
  width: 100%;
  height: 100%;
  object-fit: contain; /* Asegura que la imagen se ajuste al área del contenedor sin ser recortada */
}