<ion-content [fullscreen]="true">
  <!-- Título centrado -->
  <div class="titulo-central">
    <ion-title>Formulario de Petición</ion-title>
  </div>

  <!-- Formulario para añadir una nueva petición de material -->
  <ion-card>
    <ion-list lines="full">
      <ion-grid class="formulario">
        <!-- Fila para Material y Cantidad -->
        <ion-row class="material-cantidad-row">
          <ion-col size="4">
            <ion-item>
              <ion-label position="stacked">Material</ion-label>
              <ion-input
                clearInput="true"
                label=""
                labelPlacement="floating"
                type="text"
                [(ngModel)]="newRequest.material">
              </ion-input>
            </ion-item>
          </ion-col>

          <ion-col size="4">
            <ion-item>
              <ion-label position="stacked">Cantidad</ion-label>
              <ion-select
                [(ngModel)]="newRequest.cantidad"
                placeholder="Selecciona una cantidad">
                <ion-select-option *ngFor="let num of [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]" [value]="num">
                  {{ num }}
                </ion-select-option>
              </ion-select>
            </ion-item>
          </ion-col>
        </ion-row>

        <!-- Fila para Solicitante -->
        <ion-row class="solicitante-row">
          <ion-col size="8">
            <ion-item>
              <ion-label position="stacked">Solicitante</ion-label>
              <ion-input
                clearInput="true"
                label=""
                labelPlacement="floating"
                type="text"
                [(ngModel)]="newRequest.solicitante">
              </ion-input>
            </ion-item>
          </ion-col>
        </ion-row>

        <!-- Fila para el Calendario -->
        <ion-row class="calendar-row">
          <ion-col size="8">
            <ion-item>
              <ion-label position="stacked">Fecha de Necesidad</ion-label>
              <ion-datetime
                presentation="date"
                [(ngModel)]="newRequest.fecha">
              </ion-datetime>
            </ion-item>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-list>
  </ion-card>

  <!-- Botón para guardar la petición -->
  <ion-button (click)="addRequest()" expand="block" shape="round">
    Añadir Petición
  </ion-button>
</ion-content>
