<ion-card>
  <ion-item>
    <ion-label>Seleccionar pictograma: </ion-label>
    <ion-input type="text" [(ngModel)]="keyword" style="margin-left: 10px;"
      (keyup.enter)="searchPictograms()"></ion-input>
    <ion-button (click)="searchPictograms()" expand="block" shape="round" style="margin-left: 10px;">
      Buscar
    </ion-button>
  </ion-item>
</ion-card>

<ion-list *ngIf="showPictogramList">
  <ion-item *ngFor="let pictogram of pictograms" (click)="selectPictogram(pictogram)">
    <ion-thumbnail slot="start">
      <ion-img [src]="getPictogramImageUrl(pictogram)" alt="Pictogram image"></ion-img>
    </ion-thumbnail>
    <ion-label>
      <h2>{{ pictogram.keywords[0]?.keyword }}</h2>
    </ion-label>
  </ion-item>
</ion-list>