<ion-header>
  <ion-toolbar>
    <ion-title>Formulario de Material</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form [formGroup]="materialForm" (ngSubmit)="submitMaterials()">
    <div formArrayName="materiales">
      <div *ngFor="let material of materiales.controls; let i = index" [formGroupName]="i" class="material-container">
        <!-- Campo Nombre del Material -->
        <ion-item>
          <ion-label position="floating">Nombre del Material</ion-label>
          <ion-input formControlName="nombre"></ion-input>
        </ion-item>

        <!-- Campo Cantidad -->
        <ion-item>
          <ion-label position="floating">Cantidad</ion-label>
          <ion-input type="number" formControlName="cantidad"></ion-input>
        </ion-item>

        <!-- Campo Color -->
        <ion-item>
          <ion-label position="floating">Color</ion-label>
          <ion-input formControlName="color"></ion-input>
        </ion-item>

        <!-- Campo Tamaño -->
        <ion-item>
          <ion-label position="floating">Tamaño</ion-label>
          <ion-input formControlName="tamaño"></ion-input>
        </ion-item>
      </div>
    </div>

    <!-- Botón para agregar más materiales -->
    <ion-button expand="full" color="secondary" (click)="addMaterial()" type="button">
      Agregar Material
    </ion-button>

    <!-- Botón para enviar -->
    <ion-button expand="full" color="success" type="submit" [disabled]="materialForm.invalid">
      Enviar Materiales
    </ion-button>
  </form>
</ion-content>
