/* General */
ion-content {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  padding: 20px;
}

/* Encabezado principal */
ion-header {
  --background: #f4f4f4;
  --ion-text-color: #333;
  padding: 15px;
}

ion-toolbar {
  --background: #f4f4f4;
  --color: #000;
}

ion-title {
  font-size: 26px;
  font-weight: bold;
  text-align: center;
  text-decoration: underline;
  color: #333;
}

/* Contenedor para el inventario con scroll si excede la altura */
#inventario-container {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  height: 400px; /* Ajusta según tus necesidades */
  border: 1px solid #ccc;
  padding: 10px;
  overflow-y: auto;
  text-align: center;
  max-width: 80%;
  margin: 10px auto;
}

/* Títulos */
.inventario-header {
  text-align: center;
  font-weight: bold;
  font-size: 20px;
  margin: 15px 0;
  text-decoration: underline;
}

/* Mensaje de estado cuando no hay inventario */
#inventario-container span {
  font-size: 16px;
  color: #555;
  text-align: center;
  padding: 10px;
}

/* Estilado para la lista de elementos en el inventario */
.inventario-item {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  font-size: 16px;
  color: #333;
  width: 100%;
  line-height: 1.5;
}

/* Estilado para el formulario principal */
form {
  width: 100%;
  max-width: 500px;
  margin: 20px auto;
  background-color: #fff;
  border-radius: 8px;
  padding: 20px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

/* Estilado para botones */
ion-button {
  font-size: 16px;
  margin: 10px 0;
}

/* Estilado de la funcionalidad de input combinado con los estilos */
.input-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
}

.manual-input {
  flex-grow: 1;
  padding: 0 5px;
  font-size: 16px;
}

/* Diseño responsivo */
@media (max-width: 768px) {
  ion-title {
    font-size: 20px;
  }

  ion-button {
    font-size: 14px;
  }

  #inventario-container {
    height: 300px;
  }
}
